<div id="myCarousel" class="carousel slide">
	<!-- Carousel items -->
	<div class="carousel-inner">
		<div class="active item">
			<div class="hero-unit" style="height:250px;">
				<h1>Mountain Gap Solutions</h1>
				<br/>
				<p>
					We provide expertise throughout the  software lifecycle including design, testing, ongoing maintenance and enhancements. We can do it more productively and at higher value to complement or supplement your needs.
				</p>
			</div>
		</div>
		<div class="item">
			<div class="hero-unit">
				<h2>Our company is based on the 5 principles below:</h2>
				<br/>
				<ul>
					<li>
						Exceptional people
					</li>
					<li>
						Innovation
					</li>
					<li>
						Quality
					</li>
					<li>
						Flexibility
					</li>
					<li>
						A culture of commitment
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<div class="row">
	<div class="span4">
		<h2>Title 1</h2>
		<p>
			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
		</p>
		<p>
			<a class="btn btn-success btn-large" href="#">View Page</a>
		</p>
	</div>
	<div class="span4">
		<h2>Title 2</h2>
		<p>
			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
		</p>
		<p>
			<a class="btn btn-success btn-large" href="#">View Page</a>
		</p>
	</div>
	<div class="span4">
		<h2>Title 3</h2>
		<p>
			Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
		</p>
		<p>
			<a class="btn btn-success btn-large" href="#">View Page</a>
		</p>
	</div>
</div>
